@use "variables";

@keyframes blinking {
  50% { opacity: 0; }
}

@media (hover: hover) {
  .card:hover {
    transition: variables.$scaling-time;
    transform: scale(variables.$scaling-percent-2);
  }
  
  .social:hover, .shield:hover {
    transition: variables.$scaling-time;
    transform: scale(variables.$scaling-percent-1);
  }
  
  .card:not(:hover), .social:not(:hover), .shield:not(:hover) {
    transition: variables.$scaling-time;
    transform: scale(100%);
  }
}

@media (hover: none) {
  .card:active {
    transition: variables.$scaling-time;
    transform: scale(variables.$scaling-percent-2);
  }
  
  .social:active, .shield:active {
    transition: variables.$scaling-time;
    transform: scale(variables.$scaling-percent-1);
  }
  
  .card:not(:active), .social:not(:active), .shield:not(:active) {
    transition: variables.$scaling-time;
    transform: scale(100%);
  }
}