/* color theme */
$primary: #f08080;
$primary-bg: #f08080;
$secondary: #f4978e;
$secondary-bg: white;
$tertiary: #f8ad9d;
$quaternary: #fbc4ab;
$accent: #ffdab9;


$text-primary-color: #1a1a1a;
$secondary-text: #f08080;
$text-secondary-shadow-color: #f4978e;
$text-tertiary-color: white;
/* Values */
$border-radius: 10px;
$block-distance: 20px;

/* Animations */
$scaling-percent-1: 105%;
$scaling-percent-2: 102%;

$scaling-time: 0.2s;
