/* Colors */
$primary-color: #ffb0ab;
$primary-bg-color: white;
$secondary-color: white;
$secondary-bg-color: #ffb0ab;
$tertiary-bg-color: #ffede0;
$text-primary-color: #1a1a1a;
$text-secondary-color: #ff6b5f;
$text-secondary-shadow-color: #fd9890;
$text-tertiary-color: #f1f1f1;
/* Values */
$border-radius: 10px;
$block-distance: 20px;

/* Animations */
$scaling-percent-1: 105%;
$scaling-percent-2: 102%;

$scaling-time: 0.2s;
