/* Colors */
$primary-color: #7567ff;
$primary-bg-color: white;
$secondary-color: white;
$secondary-bg-color: #7567ff;
$text-primary-color: #1a1a1a;
$text-secondary-color: #7567ff;
$text-secondary-shadow-color: #535bf2;

/* Values */
$border-radius: 10px;
$block-distance: 20px;


/* Animations */
$scaling-percent-1: 105%;
$scaling-percent-2: 102%;

$scaling-time: 0.2s;