@use "variables";
@use "fonts";
@use "animations";
@use "base";

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin-top: 0;
  color: variables.$text-primary-color;
}

a {
  font-weight: 400;
  color: variables.$secondary-text;
  text-decoration: inherit;
}

a:hover {
  color: variables.$text-secondary-shadow-color;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100%;
  padding: 10px;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  align-content: space-evenly;
}

.main {
  width: 100%;
  display: inline-flex;
  gap: variables.$block-distance;

  position: relative;

  justify-content: space-evenly;
}

.column {
  display: flex;
  gap: variables.$block-distance;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
  align-content: space-evenly;
}

@media (max-width: 750px) and (max-height: 940px) {
  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
  }

  .column {
    gap: 10px;
  }
}
