@use "_variables.scss";
@use "_fonts.scss";
@use "_animations.scss";
@use "_base.scss";

h1, h2, h3, h4, h5, h6, a, p {
  margin-top: 0;
  color: variables.$text-primary-color;
}

a {
  font-weight: 400;
  color: variables.$text-secondary-color;
  text-decoration: inherit;
}

a:hover {
  color: variables.$text-secondary-shadow-color;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  height: 100%;
  padding: 10px;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  
  align-content: space-evenly;
}

.main {
  width: 100%;
  display: inline-flex;
  gap: variables.$block-distance;
  
  position: relative;
  
  justify-content: space-evenly;
}

.column {
  display: flex;
  gap: variables.$block-distance;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
  align-content: space-evenly;
}

.card {
  height: 100%;
  padding: 10px;
  background: white;
  border-radius: variables.$border-radius;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
  justify-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

@media (max-width: 750px) and (max-height: 940px) {
  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-evenly;
  }
}

.table-info {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
}

.table-header {
  margin: 0;
}

.table-ceil:nth-child(odd) {
  width: 30%;
  text-align: start;
}

.table-ceil a {
  font-weight: 500;
}

.socials {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  a {
    align-self: center;
  }
}

.social {
  width: 50px;
  height: 50px;

  -webkit-user-drag: none;
  user-select: none;
}

.repo {
  width: 100%;
}

